body {
  font-size: 10rem;
}
.playlist {
  margin: 0 auto;
  text-align: left;
  background: #ced6e0;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 400px;
  width: 30%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  color: #5352ed;
  font-size: 40px;
}
.playing_now {
  color: #70a1ff;
  font-size: 20px;
}

.audiocontrol:hover {
  color: #30336b !important;
}

.audiocontrol:active {
  color: #686de0 !important;
}

li:hover {
  background: #9c88ff;
}
li {
  margin-bottom: 5px;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .title {
    color: #5352ed;
    font-size: 20px;
  }
  .playing_now {
    color: #70a1ff;
    font-size: 15px;
  }
  .playlist {
    width: 95%;
  }
}
